* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(Images/hero-background.jpg);
}

.name-title {
    font-family: "Whisper", cursive;
}

.avatar {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.branch {
    animation: slideIn 3s linear forwards;
    opacity: 0;
}

@keyframes slideIn {
    0% {
        clip-path: inset(0 0 0 100%);
        opacity: 1;
    }
    20% {
        clip-path: inset(0 0 0 80%);
        opacity: 1;
    }
    40% {
        clip-path: inset(0 0 0 60%);
        opacity: 1;
    }
    60% {
        clip-path: inset(0 0 0 40%);
        opacity: 1;
    }
    80% {
        clip-path: inset(0 0 0 20%);
        opacity: 1;
    }
    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

.pink-flower1 { 
    opacity: 0;
    animation: bloom 2s ease-in-out forwards, inAndOut 1500ms 2s ease-in-out infinite alternate;
}

.pink-flower2 { 
    opacity: 0;
    animation: bloom 2s 500ms ease-in-out forwards, inAndOut 1500ms 2500ms ease-in-out infinite alternate;
}

.pink-flower3 { 
    opacity: 0;
    animation: bloom 2s 1s ease-in-out forwards, inAndOut 1500ms 3s ease-in-out infinite alternate;
}

.pink-flower4 { 
    opacity: 0;
    animation: bloom 2s 1500ms ease-in-out forwards, inAndOut 1500ms 3500ms ease-in-out infinite alternate;
}

.pink-flower5 { 
    opacity: 0;
    animation: bloom 2s 2s ease-in-out forwards, inAndOut 1500ms 4s ease-in-out infinite alternate;
}

@keyframes bloom {
    0% { 
        transform: scale(0);
        opacity: 0; 
    }
    80% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% { 
        transform: scale(1);
        opacity: 1; 
    }
}

@keyframes inAndOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.05);
    }
}

/* PROJECTS */

/* @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(20px); }
    100% { transform: translateY(0); }
}

.bouncing {
    animation: bounce 0.5s ease-in-out;
} */
